<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>lleva</servlet-name>
        <servlet-class>controlador.lleva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srv_Registrar</servlet-name>
        <servlet-class>controlador.srv_Registrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srv_validar</servlet-name>
        <servlet-class>controlador.srv_validar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srv_cerrarSesion</servlet-name>
        <servlet-class>controlador.srv_cerrarSesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>lleva</servlet-name>
        <url-pattern>/lleva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srv_Registrar</servlet-name>
        <url-pattern>/srv_Registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srv_validar</servlet-name>
        <url-pattern>/srv_validar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srv_cerrarSesion</servlet-name>
        <url-pattern>/srv_cerrarSesion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
