@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

:root {
    --verde: #0c443a;
    --limon: #25d1b2;
    --degradado: linear-gradient(90deg, var(--limon), var(--verde));
}

* {
    /* margin: 0; 
    /* margin: auto; */
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    /* text-transform: capitalize; */
}
.dentro{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}


header {

    font-family: "Dancing Script", cursive;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 2rem 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo {
    color: var(--verde);
}
header .logo span {
    color: var(--limon);
}

.navbar_a {
    font-size: 2.1rem;
    margin-left: 1.4rem;
    color: var(--verde);
}

.navbar_a:hover {
    color: var(--limon);
}

.input1 {
    display: none;
}

header label {
    font-size: 3rem;
    color: var(--verde);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.imagess {
    margin-top: -35px;
    width: 10vw;
    animation: float 3s linear infinite;
}

.letraSize {
    font-size: 24px;
}
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 768px) {
    header label {
        visibility: visible;
        opacity: 1;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #ffffff;
        padding: 1rem 2rem;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 0.5rem rgba(0, 0, 0, 0.1);
        transform: top;
        transform: scaleY(0);
        opacity: 0;
        transition: 0.2s linear;
    }

    .navbar_a {
        display: block;
        margin: 2rem 0;
        font-size: 2.9rem;
    }
    .input1:checked ~ .navbar {
        transform: scaleY(1);
        opacity: 1;
    }

    .input1:checked ~ label::before {
        content: "\f00d";
    }
}

@media (max-width: 450px) {
    html {
        font-size: 49%;
    }
}
.nekros_rojo {
    width: 130px;
    height: 40px;
    background: linear-gradient(
        90deg,
        rgba(49, 224, 237, 1) 0%,
        rgba(65, 168, 217, 1) 35%,
        rgba(54, 186, 218, 1) 100%
        );

    border-radius: 5px;
    position: relative;
    border-bottom: 4px solid #2b8bc6;
    color: #fbfbfb;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    font-size: 18px;
    text-align: left;
    text-indent: 5px;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-size: 16px;

    /* margin-bottom: 20px;
    margin-left: 140px; */
}

.nekros_rojo:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid #187dbc;
    border-bottom: 20px solid #187dbc;
    border-left: 16px solid transparent;
    border-right: 20px solid #187dbc;
    position: absolute;
    opacity: 0.8;
    right: 0;
    top: 0;
    border-radius: 0 5px 5px 0;
}


.boton {
    background-image: linear-gradient(to left, #bdbbbe 0%, #9d9ea3 100%),
        radial-gradient(
        88% 271%,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(254, 254, 254, 0.25) 1%,
        rgba(0, 0, 0, 0.25) 100%
        ),
        radial-gradient(
        50% 100%,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(0, 0, 0, 0.3) 100%
        );
    background-blend-mode: normal, lighten, soft-light;
    color: black;
    border: none;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    width: 158px;
    padding: 10px 4px;
}
.links_a {
    text-decoration: none;
    color: black;
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    padding: 5px 8px;
    font-size: 14px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(13, 13, 13, 0.557);
    outline: none;
}

.links {
    text-align: center;
    width: 160px;
    background-image: linear-gradient(to left, #bdbbbe 0%, #9d9ea3 100%),
        radial-gradient(
        88% 271%,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(254, 254, 254, 0.25) 1%,
        rgba(0, 0, 0, 0.25) 100%
        ),
        radial-gradient(
        50% 100%,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(0, 0, 0, 0.3) 100%
        );
    background-blend-mode: normal, lighten, soft-light;
    border-radius: 5px;
    border: #494b4b 1px solid;
    display: none;
}
.desplegable {
    right: 4%;
    position: absolute;
}

.bloque {
    display: block;
}
.cerrarventana {
    padding: 10px 0;
}
.desplegable_btcerrar {
    background-image: radial-gradient(
        circle 248px at center,
        #16d9e3 0%,
        #30c7ec 47%,
        #46aef7 100%
        );
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 4px;
    color: rgb(12, 12, 12);
}
.desplegable_btcerrar:hover{
    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
     
}
.crud{
    display: none;
}